<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dhruman.washino">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name="com.dhruman.washino.PopUpClass"></activity>
        <activity android:name="com.dhruman.washino.navigation" />
        <activity android:name="com.dhruman.washino.verifyotp" />
        <activity android:name="com.dhruman.washino.Register" />
        <activity android:name="com.dhruman.washino.Login" />
        <activity android:name="com.dhruman.washino.userscreen" />
        <activity android:name="com.dhruman.washino.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>